a {
    color: black;
    text-decoration-line: none;
    -webkit-tap-highlight-color: transparent; /* ここで一旦ハイライトを全部なくす */
  }

.bookmark-card {
    display: grid;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 16px;
    height: 100%;
}
.bookmark-content {
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.bookmark-content :nth-child(2) {
    /* margin-right: auto; */
    /* float: left;
    flex-flow: column; */
}

.bookmark-img {
    background-color: #fdfdfd;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #fdfdfd;
}

.bookmark-text {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: column;
    align-items: flex-start;
}

.bookmark-title {
    /* margin-left: 32px; */
    font-size: large;
    font-weight: 600;

}

.bookmark-update {
    border: 0px;
    background: none;
    background-color: none;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.bookmark-allow {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #dfdfdf;
    align-self: end;
    justify-self: end;
    margin-right: 32px;
    margin-bottom: 32px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmark-input {
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    border-style: solid;
    border-color: #dadada;
    border-width: 0.5px;

}