a {
    color: black;
    text-decoration-line: none;
    -webkit-tap-highlight-color: transparent; /* ここで一旦ハイライトを全部なくす */
  }

.bookmark-card {
    display: flex;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 16px;
    height: 100%;
    transition: all 0.4s;
}

.bookmark-card:hover {
    filter: drop-shadow(10px 10px 4px #c5c5cc);
}

.bookmark-content {
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.bookmark-img {
    background-color: #fdfdfd;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #fdfdfd;
}

.bookmark-text {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: column;
    align-items: flex-start;
}

.bookmark-title {
    font-size: large;
    font-weight: 600;

}

.bookmark-update {
    border: 0px;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.4s;
}

.bookmark-update:hover {
    background-color: #dadada;
}

.bookmark-allow {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #dfdfdf;
    align-self: end;
    justify-self: end;
    margin-top: 32px;
    
    display: flex;
    align-items: center;
    justify-content: center;  
    cursor: pointer;
    transition: all 0.4s;
}

.bookmark-card:hover .bookmark-allow{
    background-color: #9c9c9c;
}

.bookmark-input {
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    border-style: solid;
    border-color: #dadada;
    border-width: 0.5px;
}

.bookmark-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}