.App {
    text-align: center;
    height: 100vw;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px 32px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . .";
}

.container {  
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    /* height: 100%; */
  }