.App {
    text-align: center;
    height: 100vw;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px 32px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . .";
}

.container {  
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    /* height: 100%; */
  }

.add-button {
  background-color: #dfdfdf;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  padding: 4px;
}